[Unit]
Description=Reboot if network connectivity has been lost
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/local/bin/netmon

[Install]
WantedBy=multi-user.target
